.normal { font-family: "Arial"; font-size: 12px; color: #000000}
.mars1_ { font-family: "Arial"; font-size: 12px; color: #400000}
.mars1t { font-family: "Arial"; font-size: 16px; color: #400000}
.mars2_ { font-family: "Arial"; font-size: 12px; color: #404000}
.mars2t { font-family: "Arial"; font-size: 16px; color: #404000}
.mars3_ { font-family: "Arial"; font-size: 12px; color: #000060}
.mars3t { font-family: "Arial"; font-size: 16px; color: #000060}
.mars4_ { font-family: "Arial"; font-size: 12px; color: #600060}
.mars4t { font-family: "Arial"; font-size: 14px; color: #600060}
.lee1t  { font-family: "Arial"; font-size: 16px; color: #000000}
.image { font-family: "Arial"; font-size: 9px; color: #bbbbbb}
A:link { text-decoration: none; color: #0000ff }
A:visited { text-decoration: none; color: #0000ff }
